/* Wofi - Catppuccin Macchiato */

window {
    margin: 0px;
    border: 3px solid #c6a0f6;
    border-radius: 15px;
    background-color: #24273a;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#input {
    margin: 10px;
    padding: 10px;
    border: 2px solid #5b6078;
    border-radius: 10px;
    color: #cad3f5;
    background-color: #363a4f;
}

#input:focus {
    border: 2px solid #c6a0f6;
}

#inner-box {
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: #24273a;
}

#outer-box {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: #24273a;
}

#scroll {
    margin: 0px;
    padding: 0px;
    border: none;
}

#text {
    margin: 5px;
    padding: 5px;
    border: none;
    color: #cad3f5;
}

#entry {
    padding: 8px;
    margin: 2px;
    border-radius: 8px;
    background-color: transparent;
}

#entry:selected {
    background: linear-gradient(45deg, #c6a0f6, #f5bde6);
    color: #181926;
    font-weight: bold;
}

#entry:hover {
    background-color: #363a4f;
}
